<ng-container *ngIf="product.length!=0">
  <div class="container">
    <div class="row m-3">
      <div class="col-md-10 m-auto">
        <div class="py-3 mb-5 m-auto row border border-secondary rounded" *ngFor="let item of product;let i=index">
          <div class="col-md-3">
            <img src="{{item.image}}" width="100px">
          </div>
          <div class="col-md-3 mt-2">
            <p class="h4">{{item.title}}</p>
            <p>Total Price: {{item.price * item.quantity}}$</p>
          </div>
          <div class="col-md-3 mt-3">
            <div class="amount ">
              <div id="btn" class="btn btn-light" (click)="dec(item)">-</div>
              <div class="border text-black h4">{{item.quantity}}</div>
              <div id="btn" class="btn btn-secondary" (click)="inc(item)">+</div>
            </div>
          </div>
          <div class="col-md-3">
            <button class="btn btn-outline-secondary text-white mt-5" (click)="removeItem(item)">Delete</button>
          </div>
        </div>
        <button id="bb" class="btn btn-secondary text-white mt-5 m-5" (click)="emptyCart()">Clear Cart</button>
        <button id="bb" routerLinkActive="active" routerLink="/product" class="btn btn-secondary text-white mt-5 m-5">Shop More</button>
      </div>
    </div>
    <!-- <div class="card-table">
<div class="cart-product">
<table class="table table-responsive">
<thead>
    <tr>
        <th>Sr.No</th>
        <th>Product Name</th>
        <th>Product Image</th>
        <th>Discribtion</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
        <th>Action</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let item of product;let i=index">
        <td>{{i+1}}</td>
        <td>{{item.title}}</td>
        <td><img style="width: 120px;"[height]="150" src="{{item.image}}"></td>
        <td>{{item.description}}</td>
        <td>{{item.price}}</td>
        <td >
            <div class="column">
            <button class="button"(click)="inc(item)">+</button>
          {{item.quantity}}
          <button class="button"(click)="dec(item)">-</button>
        </div>
        </td>
        <td>{{item.total}}</td>
        <td>
            <button style="background-color: 1C3879;"(click)="removeItem(item)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
        </td>
    </tr>
    <tr>
        <td colspan="4"></td>
        <td><button class="btn"style="background-color: #1C3879;color:white"(click)="emptyCart()">Empty Cart</button></td>
        <td><button routerLinkActive="active" routerLink="/product"class="btn"style="background-color: #607EAA;color:white">Shop More</button></td>
    </tr>
</tbody>
</table>
</div>
</div> -->
  </div>
</ng-container>
<ng-container *ngIf="product.length==0">
  <div class="container">
    <div class="card">
      <!-- <h5 class="card-title">My Cart</h5> -->
    </div>
    <div class="center">
      <img src="../../../assets/images/cart_empty.png" [height]="240" [width]="350" alt="">
      <h2>Cart is empty!</h2>
      <button routerLinkActive="active" routerLink="/product" class="btn btn-primary">Shop Now</button>
    </div>
  </div>
</ng-container>
