<!-- <ng-container *ngIf="product.length!=0">
    <div class="container">
<div class="card-table">
<div class="cart-product">
<table class="table table-responsive">
<thead>
    <tr>
        <th>Sr.No</th>
        <th>Product Name</th>
        <th>Product Image</th>
        <th>Discribtion</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
        <th>Action</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let item of product;let i=index">
        <td>{{i+1}}</td>
        <td>{{item.title}}</td>
        <td><img style="width: 120px;"[height]="150" src="{{item.image}}"></td>
        <td>{{item.description}}</td>
        <td>{{item.price}}</td>
        <td >
            <div class="column">
            <button class="button"(click)="inc(item)">+</button>
          {{item.quantity}} 
          <button class="button"(click)="dec(item)">-</button>
        </div>
        </td>
        <td>{{item.total}}</td>
        <td>
            <button style="background-color: 1C3879;"(click)="removeItem(item)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
        </td>
    </tr>
    <tr>
        <td colspan="4"></td>
        <td><button class="btn"style="background-color: #1C3879;color:white"(click)="emptyCart()">Empty Cart</button></td>
        <td><button routerLinkActive="active" routerLink="/product"class="btn"style="background-color: #607EAA;color:white">Shop More</button></td>
    </tr>
</tbody>
</table>
</div>
</div>
</div>
</ng-container> -->
<ng-container *ngIf="product.length!=0">
    <div class="container mt-5 mb-5 bg-light">
        <div class="d-flex justify-content-center row" >
            <div class="col-md-8">
                <div class="p-2">
                    <h1>Shopping cart</h1>
                </div>
                <div class="d-flex flex-row justify-content-between align-items-center p-2 bg-white mt-4 px-3 rounded"style="margin-bottom: 10%;" *ngFor="let item of product;let i=index">
                    <div class="mr-1"><img class="rounded" src={{item.image}} width="70"></div>
                    <div class="d-flex flex-column align-items-center product-details"><span class="font-weight-bold"style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.title}}</span>
                        <div class="d-flex flex-row product-desc">
                            <div class="size mr-1"><span class="text-grey">price</span><span class="font-weight-bold" >&nbsp;{{item.price}}$</span></div>
                        </div>
                    </div>
                    <div class="column">
                        <button class="button"(click)="inc(item)">+</button>
                        {{item.quantity}}
                      <button class="button"(click)="dec(item)">-</button>
                    </div>
                    <h5 class="text-grey"><b>Total: </b>{{item.total}}$</h5>
                    <button style="background-color: 1C3879;"(click)="removeItem(item)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-around center" >
                    <button class="btn"style="background-color: #1C3879;color:white"(click)="emptyCart()">Empty Cart</button>
                    <button routerLinkActive="active" routerLink="/product"class="btn"style="background-color: #607EAA;color:white" (click)="shopmore(product)">Shop More</button>
                    <button class="btn"style="background-color: #1C3879;color:white" (click)="checkout(product)">Check out</button>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<!-- <ng-container *ngIf="product.length==0">
<div class="container">
    <div class="card">
        <h5 class="card-title">My Cart</h5>
    </div>
    <div class="center">
        <img src="../../../assets/images/cart_empty.png"[height]="240"[width]="350" alt="">
        <h4>Your cart is empty!</h4>
        <h5>Add item to it now</h5>
        <button routerLinkActive="active" routerLink="/product" class="btn" style="background-color: #1C3879; color: white;">Shop Now</button>
    </div>
</div>
</ng-container> -->

<ng-container *ngIf="product.length==0">
<div class="container-fluid  mt-100">
    <div class="row">
    
       <div class="col-md-12">
       
               <div class="card">
           <div class="card-header">
           <h1>Cart</h1>
           </div>
           <div class="card-body cart">
                   <div class="col-sm-12 empty-cart-cls text-center">
                       <img src="https://i.imgur.com/dCdflKN.png" width="130" height="130" class="img-fluid mb-4 mr-3">
                       <h3><strong>Your Cart is Empty</strong></h3>
                       <h4>Add item to it now :)</h4>
                       <button class="button1" routerLinkActive="active" routerLink="/product">Shop Now</button>
                   </div>
           </div>
   </div>      
       </div>   
    </div>
   </div>
</ng-container>

<h1>{{json}}</h1>