.card{
    height: 60vh;
    margin:25px;
    padding:25px;
}
.center{
    position:relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-110%);
    text-align: center;
}
/* .card-table{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: none;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .25rem;
} */
.center .btn{
    font-size: 14px !important;
    margin-top: 20px !important;
    background-color:#4f69a7 !important;
    font-weight: 400;
    padding: 12px 72px;
    border-radius: 3px !important;
}
/* .button {
    background-color: #607EAA;
    border: none;
    color: white;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
  }
  .button2 {
    background-color: #1C3879;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 1px 24px;
    border-radius: 20%;
    width: 100%;
  } */
  h2{
    color: #1C3879;
  }
  .amount{
    display: flex;
}
.amount div{
    text-align: center;
    width: 35px;
    padding: 0px !important;
    height: 27px;
    font-size: larger;
    color: #173155 !important;
}

.btn{
background-color:#60789b;
}
#bb{
  width: 100px;
}
