<ng-container *ngIf="product.length!=0">
  <div class="container">
    <div class="row m-3">
      <div class="col-md-10 m-auto">
        <div class="py-3 mb-5 m-auto row border border-secondary rounded" *ngFor="let item of product;let i=index">
          <div class="col-md-3">
            <img src="{{item.photo}}" width="100px">
          </div>
          <div class="col-md-3 mt-2">
            <p class="h4">{{item.name}}</p>
            <p>Total Price: {{item.total}}$</p>
          </div>
          <div class="col-md-3 mt-5">
            <div class="amount m-3 ">
              <div id="btn" class="btn btn-light" (click)="dec(item)">-</div>
              <div class="border text-black h4">{{item.quantity}}</div>
              <div id="btn" class="btn btn-secondary" (click)="inc(item)">+</div>
            </div>
          </div>
          <div class="col-md-3">
            <button class="btn btn-outline-secondary text-white mt-5" (click)="removeItem(item)">Delete</button>
          </div>
        </div>
        <button id="bb" class="btn btn-secondary text-white mt-5 m-5" (click)="emptyCart()">Clear Cart</button>
        <button id="bb" routerLinkActive="active" routerLink="/product" class="btn btn-secondary text-white mt-5 m-5">Shop More</button>
        <button id="bb" class="btn btn-secondary text-white mt-5 m-5" (click)="checkout(product)">Check Out</button>
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="product.length==0">
  <div class="container-fluid  mt-100">
      <div class="row">
      
         <div class="col-md-12">
         
                 <div class="card">
             <div class="card-header">
             <h1>Cart</h1>
             </div>
             <div class="card-body cart">
                     <div class="col-sm-12 empty-cart-cls text-center">
                         <img src="https://i.imgur.com/dCdflKN.png" width="130" height="130" class="img-fluid mb-4 mr-3">
                         <h3><strong>Your Cart is Empty</strong></h3>
                         <h4>Add item to it now :)</h4>
                         <button class="button1" routerLinkActive="active" routerLink="/product">Shop Now</button>
                     </div>
             </div>
     </div>      
         </div>   
      </div>
     </div>
  </ng-container>