<div class="container">
<div class="main">
    <div class="login" class="form-group">
      <form    [formGroup]="loginform">
        <label for="chk" aria-hidden="true">Login</label>
        <label for="name"></label>
        <input  formControlName="email" type="email" name="email" placeholder="Email" required="" formControlName="email">
        <input  formControlName="password" type="password" name="pswd" placeholder="Password" required="" formControlName="password">
        <button value="submit" (click)="Submit()">Login </button>
        <button type=" button" (click)="goToSignup()" >Sign up form </button>
      </form>
    </div>
    </div>
    </div>
