<div class="container">
<div class="main">
    <div class="login" class="form-group">
      <form    [formGroup]="loginform">
        <label for="chk" aria-hidden="true">Login</label>
        <input type="email" name="email" placeholder="Email" required="" formControlName="email">
        <input type="password" name="pswd" placeholder="Password" required="" formControlName="password">
        <button value="submit" (click)="Submit()">Login </button>
        <button type="reset">Reset</button> 
      </form>
    </div>
    </div>
    </div>