<div fxLayout="row" fxLayoutAlign="space-around center" >
  <mat-card class="example-card" routerLinkActive="active" routerLink="/aboutus">
    <mat-card-header>
      <mat-card-title>Phones</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../../assets/images/Blue-thumbnail.webp"[height]="300"[width]="250" alt="Photo of a Shiba Inu">
  </mat-card>
  <mat-card class="example-card" routerLinkActive="active" routerLink="/account">
    <mat-card-header>
      <mat-card-title>Tablets</mat-card-title>
    </mat-card-header>
    <img  mat-card-image src="../../../assets/images/tablet.jpg"[height]="300" [width]="250"alt="Photo of a Shiba Inu">
  </mat-card>
  <mat-card class="example-card" routerLinkActive="active" routerLink="/Cart">
    <mat-card-header>
      <mat-card-title>Accessories</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../../assets/images/BZSMAL.jpg"[height]="300"[width]="250" alt="Photo of a Shiba Inu">
  </mat-card>
</div>

