
<div class="container-fluid">
  <div class="row">
    <img class="img" src="../../../assets/images/wallpaperflare.com_wallpaper (3).jpg" alt="about us">
  </div>
  <div class="row">
    <h1 class="h">About Us</h1>
    <p class="p">
      we are an ITI students team who create this website with love and diligence
    </p>
  </div>
  <div class="row">
    <h1 class="h">Our Team</h1>
    <p class="p">
      THE PEOPLE WORKED HARD THROUGH
    </p>
  </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id="con">
      <div class="col">
        <div class="card shadow-sm">
          <img src="../../../assets/images/4.jpeg" class="bd-placeholder-img card-img-top" width="100%" height="225" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">          <div class="card-body">
            <h1 class="card-text">Hesham Orabi</h1>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <a class="a" href="https://www.linkedin.com/in/hesham-orabi/"><i class="fa fa-linkedin"></i></a>
            <a class="a" href="https://www.linkedin.com/in/hesham-orabi/"><i class="fa fa-envelope-o fa-fw"></i></a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="../../../assets/images/amal2.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">          <div class="card-body">
            <h1 class="card-text">Amal Sami</h1>
            <p class="card-text">An ambitious and self-motivated Junior full stack developer with a passion for learning new technologies</p>
            <a class="a" href="https://www.linkedin.com/in/amal-sami-/"><i class="fa fa-linkedin"></i></a>
            <a class="a" href=mailto:amal.saammi@gmail.com ><i class="fa fa-envelope-o fa-fw"></i></a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="../../../assets/images/4.jpeg" class="bd-placeholder-img card-img-top" width="100%" height="225" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">          <div class="card-body">
            <h1 class="card-text">Ahmed Adel</h1>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <a class="a" href="http://linkedin.com/in/aadelofficial"><i class="fa fa-linkedin"></i></a>
            <a class="a" href=mailto:Ah.Adel.Aw@gmail.com><i class="fa fa-envelope-o fa-fw"></i></a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="../../../assets/images/4.jpeg" class="bd-placeholder-img card-img-top" width="100%" height="225" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">          <div class="card-body">
            <h1 class="card-text">omar Mohamed</h1>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <a class="a" href="http://www.linkedin.com/in/omar-mohammed-mohammed"><i class="fa fa-linkedin"></i></a>
            <a class="a" href=mailto:omar.mo.rifky@gmail.com><i class="fa fa-envelope-o fa-fw"></i></a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="../../../assets/images/4.jpeg" class="bd-placeholder-img card-img-top" width="100%" height="225" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">          <div class="card-body">
            <h1 class="card-text">Fatma Gomaa</h1>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <a class="a" href="https://www.linkedin.com/in/fatma-gomaa-mohamed/"><i class="fa fa-linkedin"></i></a>
            <a class="a" href=mailto:fgomaaelsayed@gmail.com><i class="fa fa-envelope-o fa-fw"></i></a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="../../../assets/images/4.jpeg" class="bd-placeholder-img card-img-top" width="100%" height="225" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">          <div class="card-body">
            <h1 class="card-text">Sara Ali</h1>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <a class="a" href="https://www.linkedin.com/in/hesham-orabi/"><i class="fa fa-linkedin"></i></a>
            <a class="a" href="https://www.linkedin.com/in/hesham-orabi/"><i class="fa fa-envelope-o fa-fw"></i></a>
          </div>
        </div>
      </div>

      <!-- <div class="col">
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div> -->
  </div>
