<ngb-carousel *ngIf="images" class="s1">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../../assets/images/a2.jpeg" alt="Random first slide" />
    </div>

  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../../assets/images/ic.jpg" alt="Random second slide" />
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../../assets/images/a4.jpeg" alt="Random third slide" />
    </div>

  </ng-template>
</ngb-carousel>
