.btn {
  align-items: center;
  width: 100px;
  background-color: #6983a8 !important;
}

.col {
  padding: 1rem;
  /* width: 30rem;
  height:40rem ; */
}

.card:hover {
  border: #6983a8 solid 1px;
}

h2 {
  font-size: large;
}
