
<div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col"  *ngFor="let i of products">
      <div class="card shadow"  >
        <img src={{i.image}} class="bd-placeholder-img card-img-top" width="100%" height="225" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
        <div class="card-body">
          <h1 class="card-text">{{i.title}}</h1>
          <p class="card-text">{{i.category}}</p>
          <p class="item-price"><b>{{i.price}}</b></p>
          <button type="button" class="btn btn-lg btn-outline-light"routerLinkActive="active" routerLink="/singleProduct">view details</button>
          <!--  (click)="addItem(item)" -->
        </div>
      </div>
