<div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">
    <div class="col"  *ngFor="let i of products" routerLinkActive="active" routerLink="/singleProduct">
      <div class="card shadow"  >
        <img src={{i.image}} class="bd-placeholder-img card-img-top" width="80%" height="220" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
        <div class="card-body">
          <h2 class="card-text">jjjjjjjjjjjjj</h2>
          <p class="card-text">{{i.category}}</p>
          <p class="item-price"><b>{{i.price}}$</b></p>
          <button type="button" class="btn btn-lg btn-outline-light"routerLinkActive="active" routerLink="/Cart">Add To Cart</button>
        </div>
      </div>
    </div>
  </div>
  </div>


