.container{
  padding-top: 5rem;
}
.btn{
  /* background-color: none !important; */
  color: white;
  background-color: #5b76a0;
  border: none !important;
  font-size:13px;
  margin: 4px;
  margin-bottom: 15px;
  border-radius: 10px;
}
/* .btn:hover{
  background-color:#505f74 !important;

} */
