<app-filtered></app-filtered>
<!-- <p>product works!</p>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id="con">
  <div class="col">
    <div class="card shadow-sm">
      <img src="../../../assets/images/4.jpeg" class="bd-placeholder-img card-img-top" width="100%" height="225" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">          <div class="card-body">
        <h1 class="card-text">Hesham Orabi</h1>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="item-price"><b>$400.00</b></p>
        <button type="button" class="btn btn-lg btn-outline-danger" id="b">Add to cart</button>
      </div>
    </div>
  </div>
</div> -->

