<!-- ***** Explore Area Starts ***** -->
<section class="section" id="explore">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="left-content">
          <h2 style="color: #5374a1;">Explore Our Products</h2>
          <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim accusantium voluptas quod iure ut. Beatae
            laudantium vero officia in nobis quaerat aperiam repellat! Vel nulla harum sint mollitia? Porro,
            quaerat.</span>
          <div class="quote">
            <i class="fa fa-quote-left">
            </i>
            <p>Lorem ipsum dolor, sit amet consectetur repudiandae ut assumenda harum veritatis aliquid.</p>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus laudantium minus, molestiae ut eos iste!
            Odio id voluptatum accusantium, magnam officia at minus repellendus assumenda totam nesciunt placeat dolor
            ipsa!</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <div class="main-border-button">
            <a class="dd" routerLinkActive="active" routerLink="/product">Discover More</a>
          </div>

        </div>
      </div>
      <div class="col-lg-6">
        <div class="right-content">
          <div class="row">
            <div class="col-lg-2">
              <div class="first-image">
                <img src="../../../assets/images/" alt="">
              </div>
            </div>
            <div class="col-lg-2">
              <div class="first-image">
                <img src="../../../assets/images/apple.png" alt="">
              </div>
            </div>
            <div class="col-lg-2">
              <div class="first-image">
                <img src="../../../assets/images/asus.png" alt="">
              </div>
            </div>
            <div class="col-lg-2">
              <div class="first-image">
                <img src="../../../assets/images/bbm.png" alt="">
              </div>
            </div>

            <div class="col-lg-2">
              <div class="first-image">
                <img src="../../../assets/images/2a.jpg" alt="">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2">
              <div class="first-image">
                <img src="../../../assets/images/htc.png" alt="">
              </div>
            </div>
            <div class="col-lg-2">
              <div class="first-image">
                <img src="../../../assets/images/nokia.png" alt="">
              </div>
            </div>
            <!-- <div class="col-lg-2">
                            <div class="first-image">
                                <img src="assets/images/lg.png" alt="">
                            </div>
                        </div> -->
            <div class="col-lg-2">
              <div class="first-image">
                <img src="../../../assets/images/samsung.png" alt="">
              </div>
            </div>
            <div class="col-lg-2">
              <div class="first-image">
                <img src="../../../assets/images/sony.png" alt="">
              </div>
            </div>
            <div class="col-lg-2">
              <div class="first-image">
                <img src="../../../assets/images/huawei.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<!-- ***** Explore Area Ends ***** -->
