#explore{
border-bottom: none;
}
img{
   padding: 5px;
}
img:hover{
    width: 110px;
    border: 2px rgba(236, 236, 242, 0.608) solid;

}
.row{
    margin-top: 25px;
}
.dd{
  border-radius: 25%;
}
.dd:hover{
  background-color: #415b80 !important;
}
