
<footer style="background-color: #476796;">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="first-item">
                    <div class="logo"  fxLayout="row" fxLayoutAlign="center center">
                        <img class="img" src="../../../assets/images/c6.png" alt="hexashop ecommerce templatemo">
                        <h4>HexaShop</h4>
                    </div>
                    <ul>
                        <li><a href="#">ITI Menofia Branch , Shebin Elkom Egypt</a></li>
                        <li><a href="#">fatmagomaaa755@gmail.com</a></li>
                        <li><a href="#">01201872773</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <h4>Be with us</h4>
                <ul>
                    <li><a href="#">Protect and build your brand</a></li>
                    <li><a href="#">Advertise your product</a></li>
                    <li><a href="#">Sell ​​on Hexa</a></li>
                    <li><a href="#">Shipping on Hexa</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h4>Useful Links</h4>
                <ul>
                    <li><a href="#">Homepage</a></li>
                    <li><a routerLinkActive="active" routerLink="/aboutus">About Us</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h4>Help &amp; Information</h4>
                <ul>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">FAQ's</a></li>
                    <li><a href="#">Shipping</a></li>
                    <li><a href="#">Tracking ID</a></li>
                </ul>
            </div>
            <div class="col-lg-12">
                <div class="under-footer">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
