<div  class="nav" fxLayout="row" fxLayoutAlign="space-between center" >
    
    <div class="nn"><img class="Logo" src="../../../assets/images/c6.png" /> </div>
     <div  fxLayoutGap="25">
 
      <a  routerLinkActive="active" routerLink="/aboutus">aboutUs</a>
      <a routerLinkActive="active" routerLink="/account">account</a>
      <a routerLinkActive="active" routerLink="/product">product</a>
      <a routerLinkActive="active" routerLink="/Cart">Cart</a>
     </div>
      <div class="f"></div>
 </div>
